@model DepartmentDetailsDto
@{
    ViewData["Title"] = "Delete";
}

<h1> @Model.Name Department Details</h1>
<!-- Bootstrap Tabs -->
<partial name="Partials/_DeleteDetailsPartial" model="Model" />


<form asp-action="Delete" asp-route-Deptid="@Model.Id" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mt-4">
        <input type="submit" value="Delete" class="btn btn-danger">
        <a asp-action="Index" class="btn btn-secondary">Back To list</a>
    </div>
</form>

 