@model DepartmentDetailsDto


<!-- Bootstrap Tabs -->
<partial name="Partials/_DeleteDetailsPartial" model="Model" />


    <div class="mt-4">
        <a asp-action="Index" class="btn btn-secondary">Back To list</a>
    </div>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

