@model DepartmentVM
@{
    ViewData["Title"] = "Edit Department";
}

<div class="row justify-content-center align-content-center">
    <h1 class="col-6 my-4"> Edit Department</h1>
    <form asp-action="Edit" method="post" class="col-6">
       
        <div class="mt-4">
            <input type="submit" value="Update" class="btn btn-success ">|
            <a asp-action="Index" class="btn btn-secondary">Back To List</a>

        </div>
        <partial name="Partials/_CreateEditPartialView" model="@Model" />





    </form>
</div>
@section ValidateScripts
{
    <partial name="_ValidationScriptsPartial" />

}






